
@{
    ViewData["Title"] = "HangFire Email Page";
}

<main id="main" class="main">
    <div>HangFire Email Page

    <form  method="post">
        <input type="email" name="email" placeholder="Enter email" />
            


            <button asp-controller="HangFireEmail" asp-action="SendEmailReminder" id="showAlert" type="submit">Send Reminder</button>
            @if (ViewBag.RemMessage != null)
            {
                <div id="alertMessage1" class="alert alert-info">
                    @ViewBag.RemMessage
                </div>

                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script>
                    $(document).ready(function () {
                        setTimeout(function () {
                            $("#alertMessage1").fadeOut("slow"); // Hides message after 2 seconds
                        }, 2000);
                    });
                </script>
            }
       

    </form>
    </div>
    <hr class="text-danger " style="border: 5px solid red;border-radius: 5px;" />
    <div>
    <!-- General Form Elements -->
        <form asp-controller="HangFireEmail" asp-action="SendEmail" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" class="form-control" />
            </div>

            <div class="form-group">
                <label for="subject">Subject</label>
                <input type="text" id="subject" name="subject" class="form-control" />
            </div>

            <div class="form-group">
                <label for="body">Body</label>
                <textarea id="body" name="body" class="form-control" rows="4"></textarea>
            </div>

            

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Send Email</button>
            </div>
            @if (ViewBag.EmailMessage != null)
            {
                <div id="alertMessage2" class="alert alert-info">
                    @ViewBag.EmailMessage
                </div>

                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script>
                    $(document).ready(function () {
                        setTimeout(function () {
                            $("#alertMessage2").fadeOut("slow"); // Hides message after 2 seconds
                        }, 2000);
                    });
                </script>
            }
        </form>


    </div>
    <hr class="text-danger " style="border: 5px solid red;border-radius: 5px;" />
    <div>

        <form method="post" action="@Url.Action("ScheduleEmailReminder", "HangFireEmail")">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="form-control" required />
            </div>

            <div class="form-group">
                <label for="minutes">Minutes:</label>
                <input type="datetime-local" id="dateTime" name="dateTime" class="form-control" required />

            </div>
           
            <button type="submit" class="btn btn-primary">Schedule Email</button>
            @if (ViewBag.ScheduleMessage != null)
            {
                <div id="alertMessage3" class="alert alert-info">
                    @ViewBag.ScheduleMessage
                </div>

                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script>
                    $(document).ready(function () {
                        setTimeout(function () {
                            $("#alertMessage3").fadeOut("slow"); // Hides message after 2 seconds
                        }, 2000);
                    });
                </script>
            }
        </form>
       
    </div>
    
</main>


