@model NiceAdmin.Models.CustomerModel
<main id="main" class="main">

    <div class="pagetitle">
    </div><!-- End Page Title -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Insert Customer Details</h5>

            <!-- General Form Elements -->
            <form>
                <div class="row mb-3">
                    @* <label for="inputText" class="col-sm-2 col-form-label">Customer ID</label> *@
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="CustomerID" class="form-control">

                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Customer Name</label>
                    <div class="col-sm-10">
                        <input asp-for="CustomerName" type="text" class="form-control">
                        <span asp-validation-for="CustomerName" class="text-danger"></span>

                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Home Address </label>
                    <div class="col-sm-10">
                        <input asp-for="HomeAddress" type="text" class="form-control">
                        <span asp-validation-for="HomeAddress" class="text-danger"></span>

                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input asp-for="Email" type="email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>

                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputNumber" class="col-sm-2 col-form-label">Mobile No</label>
                    <div class="col-sm-10">
                        <input asp-for="MobileNo" type="text" class="form-control">
                        <span asp-validation-for="MobileNo" class="text-danger"></span>

                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputDate" class="col-sm-2 col-form-label">GST NO</label>
                    <div class="col-sm-10">
                        <input asp-for="GSTNO" type="text" class="form-control">
                        <span asp-validation-for="GSTNO" class="text-danger"></span>

                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputDate" class="col-sm-2 col-form-label">City Name</label>
                    <div class="col-sm-10">
                        <input  asp-for="CityName" type="text" class="form-control">
                        <span asp-validation-for="CityName" class="text-danger"></span>

                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputDate" class="col-sm-2 col-form-label">PinCode</label>
                    <div class="col-sm-10">
                        <input asp-for="PinCode" type="text" class="form-control">
                        <span asp-validation-for="PinCode" class="text-danger"></span>

                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputDate" class="col-sm-2 col-form-label">Net Amount</label>
                    <div class="col-sm-10">
                        <input asp-for="NetAmount" type="number" class="form-control">
                        <span asp-validation-for="NetAmount" class="text-danger"></span>

                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputDate" class="col-sm-2 col-form-label">UserName</label>
                    <div class="col">
                        <select class="form-control" asp-for="UserID">
                            <option disabled selected="true" value="0">Select User</option>
                            @foreach (var user in ViewBag.UserList)
                            {
                                <option value=@user.UserID>@user.UserName</option>
                            }
                        </select>
                        <span asp-validation-for="UserID" class="text-danger"></span>

                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" asp-action="SaveCustomer" class="btn btn-primary">Save</button>

                    <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
            </form><!-- End General Form Elements -->

        </div>
    </div>

</main><!-- End #main -->